@import "tailwindcss";

:root {
  --color-text-primary: #111111;
  --color-text-meta: #666666;

  --color-bg: #FAFAFA;
  --color-footer-bg: #F0F0F0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg);

  font-family:
    var(--font-inter),
    var(--font-noto-jp),
    system-ui,
    sans-serif;
}

