@import "tailwindcss";

:root {
  --color-text-primary: #111111;   /* ほぼ黒 */
  --color-text-meta: #555555;      /* 少し薄い黒 */
  --color-bg: #ffffff;       
  --color-footer-bg: #EAEAEA;
}

html {
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg);

  font-family:
    var(--font-inter),
    var(--font-noto-jp),
    system-ui,
    sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px; /* スマホ用 */
}